.App {
  text-align: center;
}

body {
    background: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header > div {
  margin: 0 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(14  , 54px);
  gap: 5px;
  margin-top: 60px;
  justify-content: center;
}

.tile {
  width: 50px;
  height: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 2px solid #fff;
  transition: border-color 0.1s ease-in-out;
}

.tile.selected {
  border-color: #000;
}

.tile.hint {
    border: 2px solid red;
}
